body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

h1 {
    font-size: 60px;
    line-height: 1.2;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 28px;
    color: black;
}

.background {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover {
    color: white;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 14%;
    line-height: 1.5;
    padding-left: 20%;
}

.cover h1 {
    margin-bottom: 0;
}

.cover p {
    font-size: 25px;
    font-weight: normal;
}

.linked {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.hero-second {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.hero-second p {
    color: gray;
}

section {
    display: flex;
}

.amount {
    padding-left: 18%;
}

.amount-one {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px gray;
    margin: 10px;
    margin-bottom: 100px;
}

#amount-two {
    border: 2px solid red;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(248, 204, 204);
    color: red;
    margin-bottom: 100px;
    font-size: 38px;
}

.other {
    text-align: center;
    color: gray;
    margin-bottom: 100px;
}

.other hr {
    width: 50%;
    color: gray;
    margin-bottom: 50px;
    margin-top: 0;
}

.half-width {
    width: 80%;
    margin-left: 10%;

}

.box {
    margin: 20px;
    padding: 50px 20px;
    text-align: start;
    margin-bottom: 100px;


}

#food {
    background-color: rgb(250, 185, 185);
}

#shelter {
    background-color: rgb(168, 168, 248);
}

#edu {
    background-color: rgb(173, 247, 247);
}

.half-second-width {
    width: 80%;
    margin-left: 12%;
    text-align: start;

}

.half-second-width img {
    margin-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    width: 600px;
    height: 500px;
}

.half-second-width p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 20px 20px 20px 0px;
    padding-right: 80px;
}

.half-third-width {
    width: 100%;
    text-align: start;
    margin-top: 100px;

}

.half-third-width img {
    width: 600px;
    height: 500px;
    padding-left: 180px;
    margin-top: 40px;
}

.half-third-width p {
    margin-bottom: 50px;
    text-align: start;
    padding-right: 180px;

}


.container {
    padding: 20px;
}

input[type=text],
input[type=submit] {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
}


/* Style the submit button */
input[type=submit] {
    background-color: red;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

footer {
    background-color: black;
    padding-bottom: 50px;
    padding-top: 10px;
    margin-top: 10%;
    margin-bottom: 0;
    line-height: 0;
}